<!--
  Title: Sunrise App
  Author: Nevoada10 (https://github.com/Nevoada10)
  Date: 2024 November, 24
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>Sunrise App</title>
  </head>
  <body>
    <h1>Sunrise App</h1>
    <main>
      <form>
    <button onclick="get_current_location()">Get Sunrise and Sunset</button>
      <p id="sunrise">Sunrise: </p>
      <p id="sunset">Sunset: </p>
      <script src="/static/script.js"></script>
      </form>
    </main>
  </body>
</html>
